<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="R.GoogleOutlookSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.net>
		
		<!-- If the first block doesn't work for common http proxy, comment first block out and second block in  -->
		<!-- For details how to configure and examples, see MSDN documentation at http://msdn.microsoft.com/en-us/library/kd3cf2ex.aspx	-->

		
    <defaultProxy enabled="true" useDefaultCredentials="true">            
      <!-- Uses the default system proxy from Internet Explorer seetings, usually means "none" -->
      <!-- Comment this in and comment configuration below out to use Internet Explorer settings. Every additional setting in here together with usesystemdefault="True" will override existing Internet Explorer Proxy Settings -->      
      <proxy usesystemdefault="True" />

      <!-- Uses the configured proxy address -->
      <!-- Comment this in and comment configuration above out to bypass system configuration -->
      <!--<proxy bypassonlocal="True" proxyaddress="http://proxy:80/"/>-->
      <!--<proxy usesystemdefault="True" scriptLocation="http://proxy/script"/>-->

    </defaultProxy>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup><userSettings>
    <R.GoogleOutlookSync.Properties.Settings>
      <setting name="ApplicationRegistryKey" serializeAs="String">
        <value>Software\Rasoft\GoogleOutlookSync</value>
      </setting>
      <setting name="CalendarSettings_RangeBefore" serializeAs="String">
        <value>CalendarDaysBefore</value>
      </setting>
      <setting name="CalendarSettings_RangeAfter" serializeAs="String">
        <value>CalendarDaysAfter</value>
      </setting>
      <setting name="CalendarSettings_CalendarName" serializeAs="String">
        <value>CalendarName</value>
      </setting>
      <setting name="GoogleUrl_Calendar" serializeAs="String">
        <value>primary</value>
      </setting>
      <setting name="ExtendedPropertyName_GoogleIDInOutlookItem" serializeAs="String">
        <value>GoogleItemID</value>
      </setting>
      <setting name="RegistrationSettings_ExpirationDate" serializeAs="String">
        <value>StartDay</value>
      </setting>
      <setting name="RegistrationSettings_RegistrationNumberKey" serializeAs="String">
        <value>Identity</value>
      </setting>
      <setting name="RegistrationSettings_TrialityDuration" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="URL_Help" serializeAs="String">
        <value>http://www.gooout.net/help.html</value>
      </setting>
      <setting name="URL_Terms" serializeAs="String">
        <value>http://www.gooout.net/terms-of-service.html</value>
      </setting>
      <setting name="URL_Register" serializeAs="String">
        <value>http://www.gooout.net</value>
      </setting>
      <setting name="IsNotRegistered" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="URL_Update" serializeAs="String">
        <value>http://www.gooout.net/download/</value>
      </setting>
      <setting name="URL_TrialityNotifier" serializeAs="String">
        <value>http://www.gooout.net/popup/popup.php</value>
      </setting>
      <setting name="Registry_InstallTimeValue" serializeAs="String">
        <value>InstallTime</value>
      </setting>
      <setting name="URL_InstallNotification" serializeAs="String">
        <value>http://www.gooout.net/statistics.php</value>
      </setting>
      <setting name="Registry_Key_Autorun" serializeAs="String">
        <value>Software\Microsoft\Windows\CurrentVersion\RunOnce</value>
      </setting>
      <setting name="AttemptsAmount" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Registry_Key_OutlookProfiles" serializeAs="String">
        <value>Software\Microsoft\Office\16.0\Outlook\Profiles</value>
      </setting>
      <setting name="Registry_Value_OutlookDefaultProfile" serializeAs="String">
        <value>DefaultProfile</value>
      </setting>
      <setting name="Constant_RPC_server_is_not_available" serializeAs="String">
        <value>-2147023174</value>
      </setting>
      <setting name="Constant_Profile_is_not_set_up" serializeAs="String">
        <value>-2147352567</value>
      </setting>
      <setting name="Constant_ID_not_found" serializeAs="String">
        <value>-2147220991</value>
      </setting>
      <setting name="GoogleAuth_ClientID" serializeAs="String">
        <value>27900843233-1ujfh188ra7ng3dm3h0bbdlgiuhklovg.apps.googleusercontent.com</value>
      </setting>
      <setting name="GoogleAuth_ClientSecret" serializeAs="String">
        <value>BlhKyuT59ppUidfoYHiWBl1G</value>
      </setting>
    </R.GoogleOutlookSync.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
